@import url("https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  background-image: url("../slike/pozadina6.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

#zaglavlje {
  width: 100%;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  border-bottom: 1px #000 solid; }
  #zaglavlje #logo {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center; }
    #zaglavlje #logo img {
      width: 100%; }
  #zaglavlje #meni {
    width: 35%;
    padding: 30px; }
    #zaglavlje #meni ul {
      list-style-type: none; }
      #zaglavlje #meni ul li {
        display: inline-block;
        margin-right: 3%; }
        #zaglavlje #meni ul li a {
          text-decoration: none;
          text-transform: uppercase;
          color: #000;
          font-size: 2.2vw; }
          #zaglavlje #meni ul li a:hover {
            font-size: 2.3vw;
            font-weight: bold; }
  #zaglavlje #meni2 {
    display: none;
    width: 30%; }
    #zaglavlje #meni2 ul {
      list-style-type: none; }
      #zaglavlje #meni2 ul li {
        display: inline-block;
        margin-left: 25px; }
        #zaglavlje #meni2 ul li a {
          text-decoration: none;
          color: #000;
          font-size: 3vw; }
  #zaglavlje #hamburger {
    display: none;
    width: 20%;
    justify-content: center;
    align-items: center; }
    #zaglavlje #hamburger a {
      font-size: 25px;
      color: #000;
      text-decoration: none; }
    #zaglavlje #hamburger #sakriveniMeni {
      display: none;
      width: 30%;
      position: fixed;
      top: 70px;
      background-color: #fff;
      padding: 3%; }
      #zaglavlje #hamburger #sakriveniMeni:target {
        display: flex;
        justify-content: center; }
      #zaglavlje #hamburger #sakriveniMeni ul {
        list-style-type: none; }
        #zaglavlje #hamburger #sakriveniMeni ul li {
          margin-bottom: 20px; }
          #zaglavlje #hamburger #sakriveniMeni ul li a {
            font-size: 4vw;
            color: #000;
            text-decoration: none;
            text-transform: uppercase; }

#slika {
  width: 100%;
  min-height: 630px;
  margin-top: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  #slika #aleks {
    width: 100%;
    text-align: center;
    font-size: 8vw;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 15px;
    position: relative;
    animation: rotate-scale-up 1s linear both;
    animation-name: fadeInLeft; }
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
  #slika #hi {
    display: none;
    width: 100%;
    margin-bottom: 20px;
    text-align: center; }
    #slika #hi h1 {
      color: #fff;
      letter-spacing: 3px;
      font-size: 7vw; }

#sredina {
  width: 100%;
  background-color: #fff; }
  #sredina .drzac {
    width: 100%;
    padding-top: 100px; }
    #sredina .drzac .blokovi {
      width: 80%;
      border: 2px #c4464c solid;
      border-radius: 20px 0px 20px 0px;
      margin: 0px auto 50px auto;
      padding: 2%; }
      #sredina .drzac .blokovi #dodatniDiv {
        width: 100%;
        display: flex;
        justify-content: space-around;
      }
      #sredina .drzac .blokovi #dodatniDiv #slikaAutora{
        width: 23%;
      }
      #sredina .drzac .blokovi #dodatniDiv #slikaAutora #drugaSlika {
        display: none;
      }
       #sredina .drzac .blokovi #dodatniDiv #slikaAutora img{
        width: 100%;
        border-radius: 3%;
      }
      #sredina .drzac .blokovi #dodatniDiv #tekstOAutoru{
        width: 65%;
        margin-top: 10px;
      }
      #sredina .drzac .blokovi h2 {
        text-align: center;
        font-size: 45px;
        margin-bottom: 40px; }
        #sredina .drzac .blokovi h2 i {
          margin-right: 10px;
          font-size: 40px; }
      #sredina .drzac .blokovi p {
        font-size: 25px;
        text-align: justify;
        margin-bottom: 20px; }
      #sredina .drzac .blokovi .work {
        width: 23%;
        border: 2px solid #000;
        float: left;
        margin-left: 1.5%; }
        #sredina .drzac .blokovi .work:nth-child(2) {
          border-radius: 20px 0px 0px 0px; }
          #sredina .drzac .blokovi .work:nth-child(2) img {
            border-radius: 20px 0px 0px 0px; }
        #sredina .drzac .blokovi .work:nth-child(5) {
          border-radius: 0px 0px 20px 0px; }
        #sredina .drzac .blokovi .work img {
          width: 100%; }
        #sredina .drzac .blokovi .work form {
          text-align: center; }
          #sredina .drzac .blokovi .work form button {
            margin-bottom: 20px;
            padding: 10px;
            border-radius: 10px;
            border-color: #000;
            background-color: #fff;
            color: #000;
            font-size: 15px; }
            #sredina .drzac .blokovi .work form button:hover {
              background-color: #000;
              color: #fff; }

.cleaner {
  clear: both; }

.vestine {
  width: 90%;
  background-color: #000;
  margin: 10px auto; }

.skills {
  text-align: right;
  padding: 15px;
  color: #000;
  margin-bottom: 20px;
  font-size: 20px;
  background-color: #fff;
  border: 2px solid #000; }

.html {
  width: 90%; }

.css {
  width: 85%; }

.photo {
  width: 40%; }

  .js {
    width: 60%; }

.ime {
  float: left;
  text-transform: uppercase; }

.procenat {
  text-align: rigth; }

table {
  margin: 0px auto;
  width: 90%; }
  table td {
    padding: 10px;
    text-align: center;
    font-size: 25px; }
    table td #message {
      height: 150px;
      width: 60%;
      border-style: none none solid none;
      border-bottom: 2px solid #000; }
  table input {
    width: 60%;
    height: 40px;
    border-style: none none solid none;
    border-color: #000; }
  table .btn {
    width: 40%;
    padding: 10px;
    background-color: #c4464c;
    color: #fff;
    border-radius: 15px;
    border-color: #000;
    margin-top: 40px;
    font-weight: bold; }
    table .btn:hover {
      background-color: #000; }

#futer {
  width: 100%;
  border-top: 1px solid #000;
  display: flex;
  justify-content: space-around;
  padding: 30px 0px; }
  #futer .linkovi {
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center; }
    #futer .linkovi h3 {
      font-size: 25px;
      margin-bottom: 15px; }
    #futer .linkovi a {
      text-decoration: none;
      color: #000;
      margin-bottom: 10px;
      font-size: 20px; }
    #futer .linkovi p {
      margin-bottom: 10px;
      font-size: 20px; }

/*# sourceMappingURL=style.css.map */
